{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 180,
    "wrapAttributes": "force-expand-multiline",
    "sortHtmlAttributes": "code-guide",
    "sortTailwindcssClasses": true,
    "plugins": ["@shufo/prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        }
    ]
}
